/archives
/env

tests/twitter/data/sg_users_count.csv
tests/twitter/data/sg_users_last.csv

credentials.yaml

__pycache__

/out_process/*
!/out_process/readme.md
/data/leipzig_32
/data/leipzig_8
!/data/leipzig_32/readme.md
/data/loc_to_coords.txt
/data/processed_ids.txt
/data/sg_users_last.csv
/data/sg_users_count.csv
/data/track_words/*
!/data/track_words/readme.md
/data/coords_to_state.pkl
/data/label_corrections.pkl
/data/useful_locs.pkl
/data/useless_locs.pkl

/raw_tweets_search/*
!/raw_tweets_search/readme.md
/raw_tweets_stream/*
!/raw_tweets_stream/readme.md
/log/*
!/log/readme.md
/final_dataset/*
!/final_dataset/readme.md
/dirty_dataset/*
!/dirty_dataset/readme.md
